.header {
  color:rgb(172, 44, 129);
  background: rgb(250, 250, 250);
  display: flex;
  align-items: center;
  padding: 16px;
  height: 70px;
  justify-content: space-between;
  font-family: cursive;
}

img {
  max-width: 180px;
}

.product {
    background: yellow;
    text-align: center;
    color: blue;
    font-family: cursive;
}

.product__description {
    position: relative;
    display: inline-block;
    background: yellow;
    display: flex;
    align-items: center; 
    justify-content: space-between;
    padding: 48px 56px;
    height: 90px;
    text-align: center;
}
.product__description--picture {
  max-height: 160px;
  border-color: brown;
  border-radius: 10px;
}

.product__description--picture:hover {
  opacity: 1;
  border-color: blueviolet;
  cursor: pointer;
}


@media (max-width: 500px) {
  .main {
    flex-direction: column-reverse;
  }
}