@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

html {scroll-behavior: smooth;}

img {width: 100%;}

.purpletext {color: purple;}


/* Nav Bar */

nav {
    height: 80px;
    display: flex;
}

.nav__container {
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.logo {
    height: 80px;
}

.logo__wrapper {
    display: flex;
    align-items: center;
}

ul {
    display: flex;
}

li {list-style-type: none;}

.nav__link {
    margin-left: 16px;
    text-decoration: none;
    font-size: 20px;
    color: purple;
    font-weight: bold;
    padding: 8px;
}

.nav__link:hover {
    text-decoration: underline;
}

.nav__link--primary {
    border-radius: 25px;
    background-color: purple;
    color: white;
    padding: 8px 24px;
}

/* Intro Section */

header {
    height: calc(100vh-80px);
}

.header__container {
    width: 100%;
    padding: 96px 0px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.intro__block {
    width: calc(100vw-60vw);
    padding-right: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.intro__block--title {
    padding-bottom: 24px;
}

.intro__customers {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.customer__banner {
    width: 80%;
}

.input-wrapper {
    padding: 24px 0;
    position: relative;
    width: 80%;
}

.input-wrapper input {
    width: 100%;
    padding: 10px 50px 10px 12px; /* space for button */
    font-size: 16px;
    border: 2px solid purple;
    border-radius: 25px;
}

.input-wrapper button {
    position: absolute;
    top: 50%;
    right: 6px;
    transform: translateY(-50%);
    padding: 8px 16px;
    border: none;
    background: purple;
    color: white;
    cursor: pointer;
    border-radius: 25px;
}

.intro__img--wrapper {
    width: calc(100vw-40vw);
    padding-left: 8px;
    display: flex;
}

.intro__img {
    width: 100%;
}

/* Feature Section */

#featured {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.feat__container {
    padding: 96px 0;
}

.feat__row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.features {
    width: 80%;
    margin: 0 auto;
    padding-top: 36px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.feat__leadpara {
    margin: 0 auto;
    width: 100%;
    max-width: 600px;
    display: flex;
    text-align: center;
    line-height: 1.625;
}
.feat__container {
    width: 100vw;
    padding: 80px 0px;
}

.feat__row {
    display: flex;
    flex-wrap: wrap;
}

.feat__wrapper {    
    padding-left: 20px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
}

.feat__wrap {
    width: calc(100%/3);
    display: flex;
}

.feat__para {
    display: flex;
    line-height: 1.5;
    padding-top: 12px;
}

.feat__icon {
    width: auto;
    padding: 8px;
    border:2px solid rgb(190, 190, 136);
    border-radius: 50px;
    height: 40px;
}

h5 {padding-bottom: 24px;}

/* Design & Develop */

#designdevelop {
    padding: 0 24px;
}

.container {
    padding: 96px 0;
}

.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.desdev__wrapper {
    width: 50%;
    line-height: 1.6;
}

.desdev__para {
    padding-top: 24px;
    line-height: 1.5;

}
.btn {
    margin-top: 32px;
    margin-right: auto;
    border-radius: 25px;
    background-color: purple;
    color: white;
    font-weight: bold;
    padding: 8px 24px;
    border: none;
}

.desdev__img--wrapper {
    width: 50%;
    display: flex;
    justify-content: center;
    border: 1px solid lightgrey;
    border-radius: 4px;
    position: relative;
}

.intro__img {
    margin: 0 0;
    z-index: 1;
}

/* Grid container */
  .dot__grid {
    transform: translateX(50%) translateY(50%) scaleX(1) scaleY(1);
    position: absolute;
    right: 5px; bottom: 5px;
    width: 80px; height: 80px;
    z-index: 0;
    display: grid;
    grid-template-columns: repeat(10, 5px); /* 10 columns, each 5px wide */
    grid-template-rows: repeat(10, 5px);    /* 10 rows, each 5px tall */
    gap: 5px; /* space between dots */
  }

  /* Dot style */
  .dot {
    width: 4px;
    height: 4px;
    background-color: purple;
    border-radius: 50%; /* makes it a circle */
  }

  /* Steps Section */

  .container {
    padding: 96px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
  }

  .steps__img--wrapper {
    width: 50%;
    display: flex;
  }

  .steps__description {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .step {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-top: 32px;
  }

  .step__number {
    font-size: 32px;
    color: lightgrey;
    line-height: 1;
    display: block;
  }

  .step__description {
    display: flex;
    flex-direction: column;
    margin-left: 28px;
    max-width: 350px;
  }

  .step__title {
    font-size: 28px;
    font-weight: 600;
    color: black;
    margin-left: 0;
  }

  .step__para {
    margin-top: 12px;
    font-size: 14px;
    color: rgb(70, 69, 69);
  }

  /* Values Section */

  #values {
    padding: 0 32px;
  }

  .container {
    padding: 96px 0;
  }

  .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 0;
  }

  .values__description {
    width: 50%;
    padding: 16px;
  }

  .section__tag {
    font-size: 20px;
    color: purple;
    font-weight: bold;
  }

  .section__title {
    margin: 32px 0;
    font-size: 36px;    
  }

  .section__para {
    font-size: 14px;
    line-height: 1.8;
    color: rgb(65, 63, 63);
  }

  .values__list {
    padding: 0 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .value {
    margin-top: 16px;
    margin-right: 16px; 
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

.value__title {display: flex;
    flex-direction: row;
    align-items: center;
}

.value__img--wrapper {
    width: 32px;
    height: 32px;
    align-items: center;
    background-color: aquamarine;
    border-radius: 50px;
}

.value__img {
    transform: scale(0.6);
}

.value__name {
    margin-left: 32px;
    font-size: 20px;
    font-weight: bold;
}
.value__para {
    font-size: 12px;
    padding-top: 18px;
    line-height: 1.6;
}

.values__img {
    width: 50%;
}