@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
padding: 0;
margin: 0;
box-sizing: border-box;
font-family: 'Inter', sans-serif;
}


/* Navbar Styles */

.navbar {
    width: 100%;
    max-width: 100vw;
    margin: 0 auto;
}

.nav__row {
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}   

.nav__logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo {
    width: 60px;
    height: auto;
}

ul {
    display: flex;
}


.nav__links {
    display: flex;
    align-items: center;
}

.nav__link {
    color: white;
    font-weight: 700;
    font-size: 20px;
    margin-left: 32px;
}

.nav__link--primary {
    border: none;
    padding: 12px 24px;
    border-radius: 20px;
    font-size: 20px;
    font-weight: 700;
    background-color: rgb(219, 19, 19);
    color: white;
}

/* Intro Section */

.container {
    height: auto;
    width: 100vw;
    max-width: 1200px;
    margin: 36px auto;
}
.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.intro__block {
    width: 40vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.intro__title {
    font-size: 48px;
    font-weight: 800;
    margin-bottom: 24px;
}

.intro__para {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 32px;
    line-height: 1.5;
}

.input__container {
    position: relative;
    width: 100%;
    max-width: auto;
}

.intro__input {
    padding-right: 40px;
    padding: 10px;
    font-size: 18px;
    border: 2px solid black;
    border-radius: 50px;
    width: 100%;
    margin-right: 16px;
}

.btn {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    background-color: blueviolet;
    color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    padding: 10px 20px;
    z-index: 1;
}

.btn:hover {background-color: brown;}

.intro__custs--wrapper {
    margin: 48px 0;
    font-size: 16px;
    font-weight: 400;
    color: gray;
    display: flex;
    flex-direction: column;
}

.intro__custs--img {
    display: flex;
    width: 100%;
    height: auto;
}
.intro__img--wrapper {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.intro__img {
    width: 100%;
    height: auto;
}
/* End of Intro Section */